#### import dependencies

In [7]:
# import dependencies
import pandas as pd

#### load IDs dataset

In [8]:
IDs = pd.read_csv('data/10kreps_IDs.csv')
IDs.head()

            Steam ID
0  76561198327129152
1  76561198327129174
2  76561198327129177
3  76561198327129194
4  76561198327129237